.genderSelection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;

  .genderRadioContainer {
    margin: 0.5rem 0;

    input {
      vertical-align: middle;
      margin-top: -3px;
    }
  }
}

.maxLengthContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;

  input {
    width: 10rem;
  }

  label {
    margin-right: 0.5rem;
  }
}

.nameSelectionContainer {
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;
}

.countrySelectionContainer {
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;

  .description {
    padding-bottom: 1rem;
  }
}

.prefixSelectionContainer {
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}
