html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-size: 1.75rem;
}

input {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.button {
  background-color: white;
  border: 2px solid black;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5rem;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
