.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: calc(100vh - 40px);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.loading {
  display: flex;
  margin-top: 5rem;

  img {
    animation: spin 1s cubic-bezier(0.86, 0, 0.07, 1) infinite;
    width: 3rem;
  }
}

.tabButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;

  .btnTab {
    width: 40%;
    margin: 0.5rem;
    opacity: 0.25;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 1.75rem;
      margin-right: 0.5rem;
    }

    &.isSelected {
      opacity: 1;
    }
  }
}

.btnConfig {
  background: none;
  border: none;

  img {
    width: 1.75rem;
  }
}

.title {
  text-align: center;
  position: relative;
  width: 100%;

  .settingsContainer {
    position: absolute;
    right: 1rem;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
