.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.5rem;
  flex-grow: 1;

  .row {
    position: relative;
    display: flex;
    justify-content: center;

    .buttons {
      position: absolute;
      right: 1rem;
      top: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      height: 100%;

      button {
        background: none;
        border: none;

        img {
          width: 2rem;
        }
      }
    }
  }
}
