.modal {
  .content {
    width: 100%;
    padding: 0 1rem;
  }

  .header {
    text-align: center;
  }
  .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;

    button {
      background-color: white;
      margin-right: 1rem;
    }
  }
}
