.nameSelection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .description {
    padding-bottom: 1rem;
  }

  .noNamesConfigured {
    font-style: italic;
  }

  .inputContainer {
    padding: 1rem 0.25rem;
    display: flex;
    align-items: center;

    input {
      width: 10rem;
    }

    .inputWithLabelContainer {
      display: flex;
      flex-direction: column;
    }

    .randomLabel {
      font-style: italic;
      width: 10rem;
    }

    .diceButton {
      background: none;
      border: none;
      opacity: 0.1;

      &.isToggled {
        opacity: 1;
      }

      img {
        width: 2rem;
      }
    }
  }

  .addRemoveButtonsContainer {
    margin-left: 0.5rem;
    display: flex;

    .addRemoveButton {
      background: none;
      border: none;
      width: 3rem;
    }
  }
}
