.noNamesFound {
  align-self: center;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
}

.nameList {
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .itemContainer {
    display: flex;
    align-items: center;

    .item {
      &::selection {
        background: #f4f4f4;
      }
    }
  }
}
